In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [9]:
ser= pd.Series([4,8,15,16,23,42])
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [13]:
l= [1,2,3,4,5,6,7,8,9,10]
s= pd.Series(l)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [58]:
data= [['Alice', 25, 'Female'], ['Bob', 30 , 'Male'], ['Claire', 27, 'Female']]
df = pd.DataFrame(data, columns= ["Name", "Age", "Gender"])
display(df.style.hide_index())

/var/folders/v3/gvgqw1yn3kz3wtj91tn6txtc0000gp/T/ipykernel_51694/2170351714.py:3: FutureWarning: this method is deprecated in favour of `Styler.hide(axis='index')`
  display(df.style.hide_index())

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

'DataFrame' is a 2-dimensional heterogeneous tabular data. Series contains only a single list with index, while dataframe can be made of more than one series.
---- Example

In [72]:
data1= ['mansi', 'maheshwari']
ser= pd.Series(data1)
print(ser)
print(type(ser))

0    [mansi, maheshwari]
dtype: object
<class 'pandas.core.series.Series'>

In [71]:
data2= ['first_name', 'last_name']
df= pd.DataFrame(data1, data2)
print(df)
print(type(df)) #DataFrame can be made of 2 or more series

                     0
first_name       mansi
last_name   maheshwari
<class 'pandas.core.frame.DataFrame'>

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

drop(), rename(), groupby()
* We can use these functions in EDA, for example if you have a column with sufficiently large number of Null values, you can use drop() function to drop that column as that column will not be a helpful feature for analysis.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame is mutable in nature.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [84]:
courses = pd.Series(["Data Science","Big Data","Data Analytics"], name= 'courses')
fees = pd.Series([3500,3500,3200], name= 'fees')
discount  = pd.Series([300,300,0], name= 'discount')

df=pd.concat([courses,fees,discount], axis=1)

print(df)
#here above courses, fees, discount are the series which are used to make a dataframe

          courses  fees  discount
0    Data Science  3500       300
1        Big Data  3500       300
2  Data Analytics  3200         0