In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a organized collection of information. 
* SQL(Structured Query Language)-relational database, stores structured data (tables) whereas NoSQL (Not Only SQL)- non relational database stores unstructured data (text, images, key-value, etc)

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is data definition language which defines the portion of SQL that creates, alters and deletes database objects/ defines the database schema.
* CREATE- used to create a database or a table

Example: 
#### CREATE database test;
* DROP- used to drop an exisiting database or a table

Example: 

#### DROP database test;
* ALTER- used to add, delete or modify columns in an existing table, also add and drop various constraints

Example: 

#### Create database table; #creating a database
#### CREATE TABLE if not exists test_table (id INT, name VARCHAR (50)); #table creation
#### ALTER TABLE test_table ADD age INT; #adding age to table
* TRUNCATE- deletes the data inside the table but not the table itself

Example: 

#### TRUNCATE TABLE test_table;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is Data Manipulation Language that is used to access and manipulate data in existing table.
* INSERT- inserts rows into an existing table

Example:

#### INSERT INTO test.test_table values (1, 'Mansi', 25)
* UPDATE- updates/ change values of a set of existing table rows

Example:

#### UPDATE test_table
#### SET name = 'Maheshwari' where id = 1;
* DELETE- statement deletes rows from a table

Example:

#### DELETE FROM test_table WHERE id =1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

DQL refers to Data Query Language, used for performing queries on the data within schema objects. 

Example:

#### SELECT * FROM test_table;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

* The PRIMARY KEY uniquely identifies each record in a table. It must contain UNIQUE values, and cannot contain NULL values.
* The FOREIGN KEY is used to prevent actions that would destroy links between tables. A FOREIGN KEY is a field in one table, that refers to the PRIMARY KEY in another table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb= mysql.connector.connect(host ='localhost', user="abc", password="password")
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)
    
##### cursor(): It is an object used to make the connection for executing SQL queries.
##### execute(): It is used to showcase/ execute the SQL query.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
* FROM/JOIN
* WHERE
* GROUP BY
* HAVING
* SELECT
* ORDER BY
* LIMIT/OFFSET